<html>
    <head>
        <link rel='stylesheet' href='/static/css/home.css' />
        <link rel="icon" href="/static/img/favicon-32x32.png" sizes="32x32" type="image/png">

    </head>
<body>
    <div id="topNav">
        <div id="logoContainer">
            <div id="logo"></div>
            <div id="logoText">Realm of Eul</div>
        </div>
        <ul>
            <li> PLAY </li>
            <li> BUY </li>
        </ul>
    </div>
    <div id="main">
        Main
    </div>

</body>
</html>
