<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="/static/css/index.css" />
        <title>Mathbreakers</title>
    </head>
<body>
<div id="main">
    <div id="logoContainer">
        <div id="logo"></div>
        <div id="logoText">Mathbreakers</div>
    </div>

    <div id="titleText">The Path to Infinity Awaits</div>
    <div id="waitlist"> <a href="/waitlist">Join the Waitlist</a></div>
    <!--<div id="inquireWithin">
        <div class='btn'><a target="_blank" href="mailto:charlie@mathbenders.com">Contact</a></div>
        <div class='btn'><a href="/internship">Internship</a></div>
    </div>-->
</div>

<!-- 
<div id="container" style="margin:0 auto; text-align:center;font-size:40px;padding-top:100px;">🚧 Under Construction 🚧</div>
-->
